[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/fsconsul -addr="192.168.50.2:8500" -once=true controlrepo/master/controlrepo /etc/puppetlabs/code/environments/master/

[Install]
WantedBy=multi-user.target
